# Telegram
# Подставьте токен от @BotFather:
BOT_TOKEN=
ADMIN_ID=759878381

# Ваша реферальная ссылка 1win (кнопка ведёт сразу сюда)
REFERRAL_URL=https://r1wtvmb.life/casino/list?open=register&p=fiyw

# Адрес VPS для postback
PUBLIC_BASE_URL=http://194.238.57.246:8080
ALLOW_HTTP_IP=true

# Подставьте свой пароль (тот же впишете в кабинет 1win):
POSTBACK_SECRET=

# Имена параметров postback
POSTBACK_CLICK_ID_PARAM=click_id
POSTBACK_EVENT_PARAM=event
POSTBACK_SECRET_PARAM=secret
POSTBACK_SUCCESS_EVENT=registration

POSTBACK_ALLOWED_IPS=

HTTP_HOST=0.0.0.0
HTTP_PORT=8080

ACTIVATION_NOTIFICATION_DELAY=120
SIGNAL_LIFETIME=240

ADMIN_NOTIFY_ON_NEW_USER=true
ADMIN_NOTIFY_ON_ACTIVATION=true
ADMIN_NOTIFY_ON_SIGNAL=false

# На Mac для теста: true | На боевом сервере: false
DEV_SKIP_ACTIVATION=true
